<div th:fragement="body">
  <!-- Top Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-airplay">
        <path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path>
        <polygon points="12 15 17 21 7 21 12 15"></polygon>
      </svg>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"
      style="display: flex; justify-content: space-between;">
      <div class="nav-header">
        <div class="">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Customer Configuration</a>
          <a class="nav-item nav-link" href="#">Master Data Reports</a>
        </div>
        <a class="nav-item">Profile</a>
      </div>
    </div>
  </nav>

  <!-- Sidebar -->
  <div class="sidebar">
    <a href="#">Home</a>
    <a href="#">Customer Configuration</a>
    <a href="#">Master Data Reports</a>
  </div>
</div>